/* navbar */
.first .title .navul {
    display: block;
    height: 34px;
    /* line-height: 34px; */
    font-size: 14px;
    text-transform: uppercase;
    list-style: none;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

.first .title .ll {
    float:right;
    padding-right: 10px;
    
}
.first .title h1 {
    text-align: left;
    padding-left: 60px;
    color:#fff;
}
.first .title h1 .logo{
    width : 50px;
    height : 50px;
}
/* 분홍부분(웰컴파트) */
.first .title {
    background: linear-gradient(to bottom, #fce38a, #f38181);
    max-width: 100%;
    overflow: hidden;
    position: relative;
    height: 620px;
    text-align: center;
    list-style: none;
}
.first .title .are {
    margin-top: 50px;
    text-align: center;
    
}
.first .title .wel {
    margin-top: 30px;
    padding-bottom: 0PX;
    text-align: center;
}
/* 흰배경시작 */
.story {
    padding: 91px 0 0;
}
.story p {
    text-align: center;
    font-size: 15px;
    color: #999;
    line-height: 24px;
}
/* 카페사진 부분 */
.story .list img {
    width : 380px;
    height : 250px;
}
.story .list{
    padding: 101px 0 110px;
    text-align: center;
    font-size: 0;
}
.story .list li {
    margin: 25px 15px;
    display: inline-block;
    background: #95e1d3;  
}
.story .list li a {
    display: block;
    position: relative;
    transform: translate(0, 0);
    transition: transform 0.5s;
}
.story .list li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #fce38a, #f38181);
    opacity: 0;
    transition: opacity 0.5s;
}
.story .list li a div {
    overflow: hidden;
    position: absolute; 
    left:50%;
    top: 50%;
    z-index: 10;
    width: 150px;
    height: 50px;
    transform: translate(-50%, -50%);
}
.story .list li a span {
    display: block;
    transform: translateY(60px);
    font-size: 18px;
    text-transform: uppercase;
    color:#fff;
    transition: transform 0.5s 0.2s;
}
.story .list li a span:before {
    content:url();
    display:block;
}
.story .list li:hover a {
    transform: translate(-10px, -10px);
}
.story .list li:hover a:before {
    opacity: 0.9;
}
.story .list li:hover span {
    transform: translateY(0);
}
/* 하늘색 카운트 영역 */
.story .count {
    background: #95e1d3;
}
.story .count ul {
    display: flex;
    width: 1212px;
    margin: 0 auto;
    border-right: 1px solid #b5eae0;
    box-sizing: border-box;
}
.story .count ul li {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex:1;
    height: 270px;
    color:#fff;
    line-height: 1;
    border-left: 1px solid #b5eae0;
}
.story .count ul li strong {
    font-size: 72px;
}
.story .count ul li p {
    padding: 30px 0 0;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
}
/* 인삿말 부분 */
.h2 {
    text-align: center; 
    text-transform: uppercase; 
    font-size: 30px;
    color: #333;
    line-height: 1;
}
.h2 img {
    display: block; 
    margin: 0 auto; 
    padding: 0 0 23px;
}
.h2:after {
    content: ""; 
    display: block; 
    margin: 40px auto 47px;
    width: 60px; 
    height: 3px; 
    background: #f38181;
    
}