<html style= "background: linear-gradient(to bottom, #fce38a, #f38181);">




<style>
    form {
        margin: 0 auto;
        width: 300px;
    }
    
</style>
<form >
<body style="text-align: center; font-family: 'THE외계인설명서'; font-size: 22px;  ">
    
    <table style="text-align: left; font-size: 22px; line-height: 32px; padding-top: 60px;">
    <tr>
        <th>
            <h1 style="font-family: 'THE외계인설명서'; text-align: center;  font-size: 40px; 
    background-color: #95e1d3; width: 300px;  padding-top: 20px; padding-bottom: 20px; ">
        Review Detail</h1>
        </th>
    </tr>
    <tr>
        <th><br> <img src="{{css.image.url}}"> </th>
    </tr>
    <tr>
        <th><br>카페이름 : {{css.title}}</th>
    </tr>

    <tr>
        <th>주소 : {{css.area}}</th>
    </tr>

    <tr>
        <th>영업시간 : {{css.time}}</th>
    </tr>

    <tr>
        <th>분위기 : {{css.mood}}</th>
    </tr>

    <tr>
        <th>층수 : {{css.floor}}</th>
    </tr>
    
    <tr>
        <th>화장실 : {{css.toilet}}</th>
    </tr>

    <tr>
        <th>흡연실 : {{css.smoke}}</th>
    </tr>

    <tr>
        <th>엘리베이터 : {{css.elevator}}</th>
    </tr>

    <tr>
        <th>애완동물 : {{css.pet}}</th>
    </tr>

    <tr>
        <th>특이사항 : {{css.add}}</th>
    </tr>
    
    
   
    <tr>
        <th>
            <br><button> <a href="{%url 'edit' css.id%}">수정하기</a> </button> 
            <br><button> <a href="{%url 'delete' css.id%}">삭제하기</a> </button> 
        </th>
    </tr>
   



        
    </table>
</body>
</form>







<!-- 댓글 쓰기 -->
<form method="POST" class="post-form">{% csrf_token %}
    {{ cform.as_p }}
    <button type="submit" class="save btn btn-default" href="{%url 'detail' css.id%}">Send</button>
</form>

<!-- 댓글 보여주기 -->

댓글 수: {{ css.comments.count }}<br><br>
{% for comment in css.comments.all %}
    <div class="comment">
        <p><strong>{{ comment.writer }}</strong>   {{ comment.text}} {{ comment.created_date }}</p>
        
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}


</html>

