<!DOCTYPE HTML
{%load static %}>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="js/default.js"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'default.css' %}">
</head>
<main>
    <section class="story">
        <h2 class="h2"><img src="https://rebehayan.github.io/clone/zeplin/images/txt_copy1.png" alt="CAFE LIST">
            나에게 딱맞는 스터디 카페찾기
        </h2>
        <p>
            도서관말고 공부할 카페 찾는다면
            <br>
            CSS로 오세요!
        </p>
        <ul class="list">
            <li>
                <a href="">
                    <img src="https://s3.ap-northeast-2.amazonaws.com/om-public-static/media/images/products/2019/03/10gu_macaron_01.jpg" alt="">
                        <span>카페이름</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://image-cdn.hypb.st/https%3A%2F%2Fkr.hypebeast.com%2Ffiles%2F2019%2F08%2Fbest-coffee-latte-cafe-seoul-blue-bottle-fritz-rabout-momento-brewers-dukes-2019-1-1.jpg?q=75&w=800&cbr=1&fit=max" alt="">
                        <span>카페이름</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://cdn.kormedi.com/news/article/__icsFiles/artimage/2018/08/22/c_km601/salad580.jpg" alt="">
                        <span>카페이름</span>
                </a>
            </li>
        </ul>
        <div>
            <ul>
            <li>
                <strong>42</strong>
                <p>좌석갯수</p>
            </li>
            <li>
                <strong>Y</strong>
                <p>엘리베이터 유무</p>
            </li>
            <li>
                <strong>42</strong>
                <p>특이사항</p>
            </li>
            <li>
                <strong>42</strong>
                <p>특이사항</p>
            </li>
            <li>
                <strong>42</strong>
                <p>특이사항</p>
            </li>
            <li>
                <strong>42</strong>
                <p>특이사항</p>
            </li>  
            </ul>
        </div>
    </section>
</main>

<div>
    <h4>카페이름 : {{css.title}}</h4><br>
    <h4>주소 : {{css.area}}</h4><br>
    <h4>영업시간 : {{css.time}}</h4><br>
    <h4>분위기 : {{css.mood}}</h4><br>
    <h4>층수 : {{css.floor}}</h4><br>
    <h4>화장실 : {{css.toilet}}</h4><br>
    <h4>흡연실 : {{css.smoke}}</h4><br>
    <h4>엘리베이터 : {{css.elevator}}</h4><br>
    <h4>애완동물 : {{css.pet}}</h4><br>
    <h4>특이사항 : {{css.add}}</h4><br>
    <img src="{{css.image.url}}">
</div>

</html>