<html style= "background: linear-gradient(to bottom, #fce38a, #f38181);">

<style>
    form {
        margin: 0 auto;
        width: 300px;
    }
    @font-face { font-family: 'Cafe24Simplehae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); font-weight: normal; font-style: normal; }

    .cf{
        font-family: 'Cafe24Simplehae';
    }
</style>


<form class="cf" action="{%url 'update' css.id%}" method="POST" >
    {%csrf_token%}

    

<body class="cf" style="text-align: center;  font-size: 22px;">
    
    <table style="text-align: left; font-size: 22px; line-height: 32px; padding-top: 60px;">
    <tr>
        <th>
            <h1 style=" text-align: center;  font-size: 40px; 
background-color: #95e1d3; width: 300px;  padding-top: 20px; padding-bottom: 20px; ">
    Edit Review</h1>
        </th>
    </tr>

    <tr>
        
        <th><br>카페이름 : <input type="text" value = "{{css.title}}" name="title"></th>
    </tr>

    <tr>
        <th>주소 : <input type="text" value = "{{css.area}}" name="area"></th>
    </tr>

    <tr>
        <th>영업시간 : <input type="text" value = "{{css.time}}" name="time"></th>
    </tr>

    <tr>
        <th>분위기 : <input type="text" value = "{{css.mood}}" name="mood"></th>
    </tr>

    <tr>
        <th>층수 : <input type="text" value = "{{css.floor}}" name="floor"></th>
    </tr>
    
    <tr>
        <th>화장실 : <input type="text" value = "{{css.toilet}}" name="toilet"></th>
    </tr>

    <tr>
        <th>흡연실 : <input type="text" value = "{{css.smoke}}" name="smoke"></th>
    </tr>

    <tr>
        <th>엘리베이터 : <input type="text" value = "{{css.elevator}}" name="elevator"></th>
    </tr>

    <tr>
        <th>애완동물 : <input type="text" value = "{{css.pet}}" name="pet"></th>
    </tr>

    <tr>
        <th>특이사항 : <input type="text" value = "{{css.add}}" name="add"></th>
    </tr>
    
    <tr>
        <th><br>이미지 : <input type="file" value = "{{css.image.url}}" name="image"></th>
    </tr>
   
    <tr>
        <th>
            <br><button style="border:none; color: black; background-color: #95e1d3;" type="submit">저장</button></th>
    </tr>
   

    
</body>
</form>



</html>














