<html style= "background: linear-gradient(to bottom, #fce38a, #f38181);">

<style>
    form {
        margin: 0 auto;
        width: 300px;
    }
    @font-face { font-family: 'Cafe24Simplehae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); font-weight: normal; font-style: normal; }

    .cf{
        font-family: 'Cafe24Simplehae';
    }
</style>

<form enctype="multipart/form-data" method="POST" class="cf" >
    {%csrf_token%}

    <body style="text-align: center; font-size: 22px;">
    
    <!-- <table style="text-align: left; font-size: 22px; line-height: 32px; padding-top: 60px;"> -->
    <!-- <tr>
        <th> -->
            <h1 style="font-family: 'THE외계인설명서'; text-align: center;  font-size: 40px; 
    background-color: #95e1d3; width: 300px;  padding-top: 20px; padding-bottom: 20px; ">
    Edit Information</h1>
        <!-- </th>
    </tr> -->
    {{form.as_p}}
    <!-- </table> -->
    <br>

    <button type="submit" style = "font-family:'THE외계인설명서'; background: #95e1d3; font-size: large;">저장하기</button>
</form>    


</html>














