<style>
    form {
        /* margin: 0 auto; */
        width: 550px;
        height: 700px;
    }
    @font-face { font-family: 'Cafe24Simplehae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); font-weight: normal; font-style: normal; }

    .f{
        font-family: 'Cafe24Simplehae';
    }

</style>

    <html style = "background: linear-gradient(to bottom, #fce38a, #f38181)">
    <form class="f" style="text-align: center;">
    <!-- <body style="text-align:center"> -->
    <br>
        
    <div style = "text-align:center; background-color: #95e1d3; width: 180px; padding-top:0px; padding-bottom: 0px;">
        <h2>My Page</h2>
    </div>
        <h5 style="text-align: center;">나의 정보를 확인해주세요.</h5>
        <br>
        Username: {{user.username}}
        <!-- password: {{user.password}} -->
        <br>
        <br>
        Nickname: {{user.nickname}}
        <br>
        <br>
        School: {{user.school}}
        <br>
        <br>
        Phone number: {{user.phone_number}}
        <br>
        <br>
        <br>
        <button style="border:none; color: black; background-color: #95e1d3;" ><a href="{% url 'home' %} ">Home</a></button>
    <!-- </body> -->
    
    </html>
    </form>
    </span>
    
    <style>
        form {
            margin: 0 auto;
            width: 200px;
        }
    </style>
    